<div class="section">
  <div class="title is-3">成績一覧</div>
  <div class="subtitle is-5">成績をみることができます</div>
</div>
<div class="section">
  <table class="table is-fullwidth">
    <thead>
    <tr>
      <th>ルール</th>
      <th>ステージ</th>
      <th>ブキ</th>
      <th>ガチパワー</th>
      <th>勝敗</th>
    </tr>
    </thead>
    <tbody>
    <% @score.each do |score| %>
    <tr>
      <td><%= score.rule %></td>
      <td><%= score.stage %></td>
      <td><%= score.weapon %></td>
      <td><%= score.power %></td>
      <td><%= score.buttle %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>